:root {
    --primary-font: 'Beaufort for LOL', serif;
    --secondary-font: 'Spiegel', sans-serif;

    --primary-color: #010A13;
    --secondary-color: #091428;

    --text-primary-color: #c8aa6e; 
    --text-secondary-color: #f0e6d2; 

    --background-color: #111; 
    --border-color: #444; 
    --hover-border-color: #c8aa6e; 
    
    --logo-height-desktop: 2rem;
    --logo-height-mobile: 1.5rem;
}

*{
    margin:0;
    padding:0;
}


.bg-dark {
    background-color: var(--background-color) !important; 
}

/* NAVBAR STYLES */
.logo {
    height: var(--logo-height-desktop);
    width: auto;
    max-width: 100%;
}

.navbar-nav .nav-link{
    color: var(--text-secondary-color);
    font-family: var(--primary-font);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    font-size: 0.9rem;
}

.btn-primary {
    font-family: var(--primary-font);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15px;
    line-height: 24px;
    border-radius: 16px;
}


/* CLIENT CARD */
.client-card {
    border: 1px solid #444; 
    background-color: #000;
    overflow: hidden; 
    position: relative;
    transition: all 0.3s ease;
    height: 100%; 
    box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

/* HOVER EFFECT */
.client-card:hover {
    border-color: #c8aa6e; 
    box-shadow: 0 0 15px rgba(200, 170, 110, 0.4); 
    transform: translateY(-5px);
}

/* THE IMAGE */
.client-card img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    transition: transform 0.5s ease;
}

.client-card:hover img {
    transform: scale(1.1); 
    opacity: 0.7; 
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60%; 
    background: linear-gradient(to top, rgba(9,20,40, 1), transparent);
    pointer-events: none; 
}

/* TEXT CONTAINER */
.card-text-content {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 2;
}

.champion-name {
    font-family: var(--primary-font);
    font-weight: 700;
    text-transform: uppercase;
    color: #f0e6d2;
    letter-spacing: 2px;
    margin-bottom: 2px;
    text-shadow: 0 2px 4px rgba(0,0,0,0.8);
}

.champion-title {
    font-family: var(--secondary-font);
    font-style: italic;
    color: #c8aa6e; 
    font-size: 0.85rem;
    text-transform: capitalize;
    margin: 0;
}
